
body {
    background-color: #ebeff5;
    }

.hlink {
    text-decoration: none;
}

.principal-color {
    color: #3b5bdb;
}

a:hover {
    color: #3b5bdb;;
}

a{
    color: black;
    text-decoration: none;
}


#id_start_date, #id_end_date{
    width: 100px;
}

/* Pagination */  
.custom-pagination .page-item.active .page-link {
    background-color: #3b5bdb; 
    border-color: #3b5bdb; 
    color: #fff;
}
.custom-pagination .page-link{
    color: #3b5bdb
}