body {
    background-color: #ebeff5;
    }

.hlink {
    text-decoration: none;
}

a:hover {
    color: #0B5ED7;
}

a{
    color: black;
    text-decoration: none;
}

#id_start_date, #id_end_date{
    width: 100px;
}