{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<br>
<!--  SUMMARY -->
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3">
                <div class="card-header">
                    <h5 class="card-title"><a href="{% url 'orders_view'%}">Total Orders</a></h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{orders_total}}</h5>
                </div>
            </div>  
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3">
                <div class="card-header">
                    <h5 class="card-title"><a href="{% url 'filtered_orders_view' 'Delivered' %}">Orders Delivered</a></h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{orders_delivered}}</h5>
                </div>
            </div>  
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3">
                <div class="card-header">
                    <h5 class="card-title"><a href="{% url 'filtered_orders_view' 'Pending' %}">Orders Pending</a></h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{orders_pending}}</h5>
                </div>
            </div>  
        </div>
    </div>
</div>


<!-- PART2 -->
<div class="row">

<!--  CUSTOMER -->
    <div class="col-md-4">
        <div class="card card-body">
            
            <table class="table table-sm">                
                <tr>
                    <th>Customer</th>
                    <th>Phone</th>
                </tr>

                {% for customer in customers  %}
                <tr>                    
                    <td><a class="hlink" href="{% url 'customers' customer.id %}">{{customer.name}}</a></td>
                    <td>{{customer.phone}}</td>
                </tr>
                {% endfor %}                

            </table>
            <button type="button" class="btn btn-outline-secondary">
                <a class="hlink" href="{% url 'customers_view'%}">
                    See all customers...
                </a>
            </button>
        </div>
    </div>

<!--  ORDER -->
    <div class="col-md-8">
        <div class="card card-body">
            
            <table class="table table-sm">
                
                <tr>
                    <th>Order</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>

                {% for order in orders  %}
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.product}}</td>
                    <td>{{order.date_created}}</td>
                    <td>{{order.status}}</td>
                </tr>
                {% endfor %}

                
            </table>
            <button type="button" class="btn btn-outline-secondary">
                <a class="hlink" href="{% url 'orders_view'%}">
                    See all orders...
                </a>
            </button>


            {% comment %} <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm">
                  {% if orders_page.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ orders_page.previous_page_number }}">Previous</a></li>
                  {% else %}
                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                  {% endif %}
              
                  {% for num in orders_page.paginator.page_range %}
                    {% if num == orders_page.number %}
                      <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                  {% endfor %}
              
                  {% if orders_page.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ orders_page.next_page_number }}">Next</a></li>
                  {% else %}
                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                  {% endif %}
                </ul>
            </nav> {% endcomment %}
              
        </div>        
    </div>

</div>



{% endblock content %}