{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<br>
<h2>Orders</h2>
<div class="col-md-12">
  <div class="card card-body">
      
    <table class="table table-sm">
                
        <tr>
            <th>Order</th>
            <th>Product</th>
            <th>Date</th>
            <th>Status</th>
            <th>Notes</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>

        {% for order in orders  %}
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.product}}</td>
            <td>{{order.date_created}}</td>
            <td>{{order.status}}</td>
            <td>{{order.note}}</td>
            <td>
                <a href="{% url 'update_order' order.id%}" class="btn btn-custom-inv  btn-sm ">Update</a>
            <td>
                <a href="{% url 'delete_order' order.id%}" class="btn btn-outline-danger btn-sm ">Delete</a>
            </td>
        </tr>
        {% endfor %}

        
    </table>

      <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm custom-pagination ">
          {% if orders.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?orders_page={{ orders.previous_page_number }}">Previous</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
          {% endif %}
      
          {% for num in orders.paginator.page_range %}
            {% if num == orders.number %}
              <li class="page-item active">
                <span class="page-link">{{ num }}</span>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?orders_page={{ num }}">{{ num }}</a>
              </li>
            {% endif %}
          {% endfor %}
      
          {% if orders.has_next %}
            <li class="page-item">
              <a class="page-link" href="?orders_page={{ orders.next_page_number }}">Next</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Next</span>
            </li>
          {% endif %}
        </ul>
      </nav>
     
  </div>
</div>


{% endblock content %}