{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="card card-body">
        <h5>New order for: {{customer.name}}</h5>
        <form action="" method="POST">
            <table class="table table-sm">
                {% csrf_token %}
                <tr>
                    <th>Product</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tr>

                    <td>{{form.product}}</td>
                    <td>{{form.status}}</td>
                    <td><input class="btn btn-outline-primary btn-sm " type="submit" name="Submit">
                    <a href="{% url 'customers' customer.id  %}">Cancel</a>
                    
                    </td>
                </tr>
                
            </table>
        </form>
    </div>
</div>


{% endblock content %}