{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="card card-body">
        <form action="" method="POST">
            <table class="table table-sm">
                {% csrf_token %}
                <tr>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tr>
                    <td>{{form.customer}}</td>
                    <td>{{form.product}}</td>
                    <td>{{form.status}}</td>
                    <td><input class="btn btn-outline-primary btn-sm " type="submit" name="Submit"></td>
                </tr>
                
            </table>
        </form>
    </div>
</div>


{% endblock content %}