{% extends 'accounts/main.html' %}

{% block content %}

<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{orders_total}}</h5>
                </div>
            </div>  
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3">
                <div class="card-header">
                    <h5 class="card-title">Orders Delivered</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{orders_delivered}}</h5>
                </div>
            </div>  
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3">
                <div class="card-header">
                    <h5 class="card-title">Orders Pending</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{orders_pending}}</h5>
                </div>
            </div>  
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Date Order</th>
                    <th>Status</th>
                    <th>Note</th>

                </tr>
                {% for order in orders %}
                <tr>
                    <td>{{order.product}}</td>
                    <td>{{order.product.category}}</td>
                    <td>{{order.date_created}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.note}}</td>

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock content %}